In [1]:
import pandas as pd

In [3]:
df_exam = pd.read_csv('StudentsPerformance.csv')
df_exam.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

# Adding a new column
## Adding a new column with a scalar value

In [4]:
df_exam['language score'] = 60
df_exam

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score
0,female,group B,bachelor's degree,standard,none,72,72,74,60
1,female,group C,some college,standard,completed,69,90,88,60
2,female,group B,master's degree,standard,none,90,95,93,60
3,male,group A,associate's degree,free/reduced,none,47,57,44,60
4,male,group C,some college,standard,none,76,78,75,60
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,60
996,male,group C,high school,free/reduced,none,62,55,55,60
997,female,group C,high school,free/reduced,completed,59,71,65,60
998,female,group D,some college,standard,completed,68,78,77,60
999,female,group D,some college,free/reduced,none,77,86,86,60

# Adding a new column with an array

In [6]:
import numpy as np

In [9]:
language_score = np.arange(0,1000)

In [10]:
len(language_score)

1000

In [13]:
df_exam['language score'] = language_score
df_exam

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score
0,female,group B,bachelor's degree,standard,none,72,72,74,0
1,female,group C,some college,standard,completed,69,90,88,1
2,female,group B,master's degree,standard,none,90,95,93,2
3,male,group A,associate's degree,free/reduced,none,47,57,44,3
4,male,group C,some college,standard,none,76,78,75,4
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,995
996,male,group C,high school,free/reduced,none,62,55,55,996
997,female,group C,high school,free/reduced,completed,59,71,65,997
998,female,group D,some college,standard,completed,68,78,77,998
999,female,group D,some college,free/reduced,none,77,86,86,999

In [16]:
int_language_score = np.random.randint(1,1000,size = 1000)

In [18]:
print(max(int_language_score))
print(min(int_language_score))

998
1

In [20]:
df_exam['language score'] = int_language_score
df_exam.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score
0,female,group B,bachelor's degree,standard,none,72,72,74,65
1,female,group C,some college,standard,completed,69,90,88,134
2,female,group B,master's degree,standard,none,90,95,93,822
3,male,group A,associate's degree,free/reduced,none,47,57,44,560
4,male,group C,some college,standard,none,76,78,75,327

In [21]:
# create random float numbers between 1 and 100
np.random.uniform(1,1000,size=1000)

array([176.39108464, 423.45938384, 625.16496496,  68.15616478,
       564.6568614 , 809.53789041, 205.92052854, 457.59676321,
       929.13777948, 296.95113174, 519.46941203, 698.44262486,
       505.16195293, 999.27202131, 918.02088362, 728.82021362,
        84.29680674, 722.04167995, 260.82704783, 848.1698966 ,
       491.87983864, 453.29723343, 584.19159488, 688.32689568,
       689.07921838, 840.04733752, 502.45723722, 227.26867891,
       683.19124676, 339.56167935, 857.66323019, 607.72789063,
       624.41218842,  14.85019472, 769.66474073, 642.5389844 ,
       553.86691371, 673.3683199 , 822.70195193, 552.2185872 ,
       654.2494793 ,  67.87538862, 553.86382694, 248.97520191,
       967.23139421, 538.54017618, 268.16786961, 471.72057953,
       444.04025333, 571.28805545, 222.0291048 , 227.86305926,
        10.93069135, 552.21340435, 601.58195208, 890.50008627,
       563.86862362, 282.68283955, 437.60063221,  60.46147208,
        68.4982125 , 903.10934142, 444.93541441, 870.75403577,
       687.50712645, 777.04550167, 742.9414644 , 117.50710733,
       104.28068655, 667.00569804, 986.65126406, 594.07885494,
       599.19805496,  94.60742671, 403.41693418, 566.7781835 ,
       876.155004  , 407.20309406, 976.47081172, 209.85440493,
       469.49278166, 199.69187518, 950.2473842 , 871.85002982,
       562.92680598, 615.41648423, 200.95894452,  59.87406074,
       335.82638684, 581.30525774, 326.4173939 , 883.65359936,
       781.13619713,  90.88654443, 344.44363168, 325.20634322,
       968.97286507, 439.35215491, 259.08203846, 481.64411961,
       330.98100052, 904.23212429, 373.55905555, 288.44303169,
       612.17113786, 864.42537074, 274.01086476, 606.25765488,
       465.16957389, 542.64340577, 784.30634755, 873.39890847,
       937.49156295,   3.6982466 , 829.00471198, 258.57004133,
       256.31486821, 558.51453504, 767.30714659, 256.52782441,
       287.53698456, 941.50961561, 645.00690881, 995.156943  ,
        55.46271516, 810.54173198,  36.73952488, 874.62301708,
       575.76656201, 336.04203523, 962.64273324, 326.40064814,
       907.43622215, 543.21116364, 841.84683385, 813.05945172,
       531.34235107, 126.40194791, 580.21072741,   4.0536192 ,
       196.07752123, 459.63991865, 640.90885296, 836.90924901,
       763.17541755, 655.44204938, 621.30756153, 101.78960374,
       679.21352402, 896.257084  , 368.09664514, 953.05398494,
       558.3904581 , 753.2920877 ,  89.84362133,  44.12500824,
       769.79395743, 407.08600001, 522.70131536, 285.84496273,
       758.20956029, 986.41075498, 856.9988715 , 653.3980369 ,
       740.67249493, 880.96023994, 471.4471672 , 877.52710571,
       738.72996339, 458.62217322,  42.0542667 , 495.14017217,
        29.01713548, 536.45604578, 232.15211359, 950.55277058,
       335.18530765, 225.77637154, 278.58503985, 736.64290295,
       555.05427222, 181.28525011, 188.29257457, 490.53955025,
        91.76136291, 804.75122547, 268.81365059, 300.6087931 ,
       349.49828623, 235.20812822, 829.08926135, 527.98489226,
       617.98523824,  94.30746679,  43.80397276, 855.6474181 ,
       662.21313838, 270.46905779, 359.18520946, 989.07373885,
       239.36963012, 748.67441899, 622.99138558, 603.81353243,
       288.69287138, 444.09917198, 580.30181953, 280.6276832 ,
        48.00182572, 455.82704395, 723.32412729, 499.51695778,
       210.33020015, 950.83054582, 829.08601334, 167.30502531,
       747.4971405 , 424.50225507, 155.21251164, 724.81930506,
       512.88222828, 446.83991239,  48.3948376 , 216.15841943,
         3.81118994,  54.17457342, 574.13967419, 669.50693078,
        81.10104128, 833.33878414, 914.85318455,  75.19027291,
       376.92858139, 707.22933575, 748.56349818, 518.64498921,
       572.08033051, 983.63536777, 413.2743114 , 123.75945566,
       319.84989898, 681.42870023, 509.86328215, 718.30688122,
       782.35304326, 632.87224987, 162.69007597, 717.13878719,
       787.63466593, 545.77345108, 907.41110043, 193.26456439,
        29.33084791, 752.80980989, 531.89895894, 804.59026092,
       176.0006006 , 655.94560904, 648.87897627, 510.22825107,
       968.13475946, 164.73072457, 385.85592302, 387.18593023,
       966.2858246 , 490.63595931, 209.56381762, 835.84517031,
         2.14613931, 779.38293341, 857.59147271, 866.56882896,
       628.57802303,  50.3201539 , 216.8369249 , 278.79384978,
        12.05487749,  26.71915733, 850.83058266, 180.29762981,
       138.15980508, 347.90056096, 196.57004039, 294.79978828,
       492.28117991, 540.82043148, 575.26478264, 320.97844163,
       661.51315649, 883.58796003, 461.37401891, 876.37128827,
       699.4595624 , 390.54057254, 770.14382704, 413.43936758,
       271.94003884, 605.32312133, 444.14285423, 770.96886214,
        68.75656033, 110.02013063, 686.00295996,  59.90102607,
       786.65652606, 939.75713534, 985.76275302, 748.44479868,
       754.40989539, 257.62911695, 142.08730007, 637.4234304 ,
       175.82117945, 936.31555771, 302.71746427, 968.38865259,
       543.38636447, 322.86731035, 284.04487033, 695.35643512,
       572.70523885, 751.5080761 , 539.23543066, 368.72398268,
       538.01727276, 423.09936016, 461.74804507,   3.9225083 ,
       202.55193214, 546.78876455, 399.70646002, 312.78433183,
       399.73647524, 972.59281548, 263.09539462, 141.0447065 ,
       609.98352872, 867.84270553,  99.75503599, 592.10075382,
       223.22330607, 179.95484881, 902.70072673, 394.42160492,
       165.3055616 , 493.32493708, 779.32369784, 115.95703265,
        12.00885641, 619.54361569, 285.8662171 , 979.70690032,
         3.64265674,  76.93041689, 648.89724243, 493.14030814,
       587.10816069, 297.12568628, 467.59888016, 281.29846355,
       207.42037593, 728.81227179, 826.51238854, 531.92359159,
       229.3854551 , 760.63571959, 855.44058624, 741.62308931,
       724.40636728, 623.24588569, 884.24708135, 241.28570926,
       159.24386022,  27.95150493, 406.60190759, 372.21423386,
       988.91255711, 454.42605131, 818.12871261, 882.31349325,
       809.42704306, 448.03042618, 861.9001542 , 966.42439654,
       571.33849629, 313.9381034 , 174.55086877, 417.25721263,
       882.44166873,  69.49933319,  57.15840004, 202.37729196,
       412.97092445, 121.48241938, 553.224919  , 971.73932268,
       257.21523543, 728.11367264, 271.4233342 ,  18.2750896 ,
       182.00640028, 978.93842018, 208.2211849 , 585.95213898,
       111.78530141, 713.5194282 , 767.23143896, 859.11310211,
       302.01149657, 765.59209397, 621.92599504, 130.08158669,
        94.0932784 ,   6.86852191, 574.34765935,  14.7348032 ,
       322.00504195, 400.61766232, 362.40333724, 998.95157391,
       817.5194955 , 691.07508106, 322.42725231, 140.34203101,
       436.73832681, 817.45235481, 196.49090258, 769.87665752,
       306.02803965, 456.30749994, 919.50220428, 661.16563308,
        84.81292204, 113.30319203, 429.29287437, 223.04976125,
       539.63058264, 490.45589256, 922.36638293, 163.69144768,
        10.75994629, 455.70949336, 704.82511931,  61.95908153,
       399.17063778, 771.7506257 , 656.97302084, 900.37555369,
       594.27384586, 741.87879368, 123.57277079, 429.13119966,
       749.37813096, 569.86544558, 616.55491373, 586.55560044,
       644.39626982, 617.24435673, 377.46371746, 338.87336334,
       841.60702235, 669.83940261, 255.68123326, 930.37581906,
       584.9100132 , 351.3068768 , 461.74854531, 645.44376677,
       954.3201182 , 707.71370687,  56.53102113, 100.61142294,
       653.21337681, 780.18612403, 103.71445854, 591.4030068 ,
        80.82357139, 991.21179567, 385.39903459, 682.57513799,
        18.96695397, 750.76235792, 530.14160352, 316.76627806,
       610.81993182, 114.42613058, 477.62628161, 346.56969089,
       215.60039412,  99.44607451, 636.83158403, 485.26968803,
       883.90626554, 442.35773184, 194.06385527, 442.91241468,
        67.78791992,  39.94774239, 432.65524684, 643.92262373,
       204.26294134, 877.53850425,  31.46483585, 894.20892473,
        81.74394175, 455.30848444, 940.41549815, 489.40316232,
       335.79860293, 258.19711855, 376.1549405 , 290.06220724,
        25.1331384 , 350.51529178, 977.24383234, 386.67235211,
       679.5629936 , 185.20312269,  16.81877008, 424.46147202,
       986.55068167, 517.66362157, 916.03875887, 985.01158389,
       554.91662167, 169.22135986, 822.32483631, 229.461113  ,
       124.00105873, 808.67555643,  43.32600416, 557.31814378,
       414.26312918, 129.96845046, 366.01836954, 967.33046361,
       445.24266116, 388.37215747, 281.20968075, 889.53587277,
       226.83380864, 254.75194327, 471.94501524, 488.44064804,
       448.75921901, 877.37160489, 143.82119234, 808.11333655,
        65.55326826, 862.88414002, 963.88003365, 202.25779583,
       590.8345758 , 588.52717157, 669.42421407, 647.09843564,
       631.40477637, 351.18258927, 452.62180946, 806.33912704,
       910.35784735,  82.26931235, 680.37936955, 398.55488948,
       451.48109428, 353.33109567,  52.06184092,  65.77479229,
       289.98541523, 233.20699961, 170.70694405, 476.61866259,
       890.70849395, 194.91064663, 191.79807915, 166.42782244,
        94.25973159, 819.67106651, 148.26247031, 681.75061483,
       508.93654265, 587.17373736, 931.16160596, 465.73749912,
       651.77228203, 320.55093118, 978.25066407, 918.48453815,
       358.84700205, 857.35306605, 470.67371365, 696.90492957,
       734.7056542 , 849.33366588, 537.63035214, 147.46207887,
       522.04088848, 532.95079749,  78.53298678, 974.07830119,
       987.53553089, 928.89324753, 973.33728389, 573.28060871,
       288.8623402 , 710.69992939, 132.94666089,  45.33951561,
       183.48776358, 199.35065647, 422.51266418, 104.64012652,
       706.94829137, 348.11105253, 769.27475264, 474.9252092 ,
       714.49470796, 981.59215798, 157.15693252, 727.9079484 ,
       554.92988916, 843.82426903, 234.72615031, 842.33533406,
        53.8260213 ,  74.86131216, 859.87574888, 221.49252541,
       150.38921419, 789.20741906, 958.32937687, 527.42928001,
       386.80545524, 818.95265566, 571.25294393, 658.59858172,
       269.15677919, 919.53252065, 313.05354194, 489.96007592,
       261.450612  , 735.42265795,   6.8566111 , 101.15166743,
       711.08470221,  74.38097101, 291.77340433, 387.49236556,
       844.99835575, 379.33995662, 140.03489614, 857.95181072,
       892.51883225, 919.68506074, 142.16211249, 943.76433677,
       135.33127231, 320.11176676, 324.61553321, 760.40766524,
       210.95807107,  20.31446708, 450.25723444, 452.42183648,
       744.14073674, 173.99136806, 994.73119453, 325.33700596,
       707.93871373, 802.01563961, 383.29051917, 819.46835049,
       783.26153145,  55.67452097,  67.92877042, 493.81595534,
       696.68429816,  80.89707079, 490.34599848, 588.15062111,
       824.63228825, 154.08921443,  55.58529321, 123.92511693,
       736.54930478, 202.69358747, 264.36806717, 458.38535389,
       583.73743926, 735.77842507, 147.26446035, 113.09042155,
        59.96844101, 250.12510913, 843.44751166, 706.38574757,
       902.41011264,  37.73159032, 547.86480055, 772.05608018,
       152.65811648, 714.12298271, 801.98962806, 878.55502062,
       606.96544078, 603.63869969, 748.82457348, 731.87110171,
       856.49664378, 849.25174098, 668.76161572,  15.98942623,
        40.4787243 , 300.21990509, 985.79426327, 298.6936631 ,
       197.66501888, 839.65855701,  45.67134117, 796.25495947,
       196.61906919, 614.30465381, 988.19408035, 756.86978472,
       326.67549505, 991.6115962 , 114.13423692, 394.46096108,
       441.82659921,  27.36597723, 965.52313959, 792.56732252,
       632.3849697 , 361.64475593, 462.91524539, 251.55877621,
       716.25592184, 687.91507761, 705.47011375, 383.00259621,
       882.61055899, 653.56943519, 834.00281907, 753.12078508,
       522.25336095, 202.34933712, 955.31293833,  67.22886367,
       722.26628584, 233.16069335, 336.53866176, 912.68120769,
       998.80690028, 723.3057604 , 511.16972253, 207.90658991,
       949.50487215, 736.92172931, 192.58283524, 606.04668629,
       500.82943759, 535.23085101, 594.93477932, 481.9389926 ,
       622.95083294, 879.33297155, 654.4146756 , 765.93589749,
       860.21239655, 659.24298633, 591.49925271, 218.67844606,
       870.51746081, 892.13550926, 370.27464792, 571.2470841 ,
       827.42843244, 394.63378326, 742.56562518, 524.54813607,
       637.86115617, 275.00685781, 887.72547037,  63.60471954,
       962.76466751, 835.92702478, 938.00915102, 903.51526637,
       656.12060787, 629.70832318, 343.34845968, 321.70239398,
       247.64531102, 542.32158017, 819.72137556, 774.98605702,
       191.14892296, 550.8392196 , 708.45810962, 238.74085528,
       938.14208509, 996.49897094, 767.47766632, 489.72377162,
       244.00564968, 164.19020187, 252.50314971, 845.32293135,
       206.31196786, 555.38488618,  77.35681865, 892.89479859,
       341.41230772, 275.57787439, 956.67289206, 740.40637923,
       297.86534889, 908.0889058 ,  99.75953887, 467.33021135,
       286.35941786, 650.52507221, 553.89555949,   3.90986062,
       620.24006016, 409.51468527, 827.51672054, 436.81106607,
        12.4552637 , 959.98900946, 568.39606404, 294.34084772,
        84.63162969, 307.99374939, 971.22698038, 572.27483366,
       304.67168895, 714.55239702, 110.0420569 , 430.94686236,
       548.05101802, 565.33298276, 642.44510151,  46.11002131,
       769.29359994, 810.41379538, 163.26109082, 296.01201157,
       171.33711666, 590.2273599 , 405.88436603, 132.61267897,
       824.14900773, 593.64312609, 681.65942938,   5.15951199,
       961.93730376, 735.9783271 , 910.5896478 , 860.02819561,
       269.84833097, 857.65098887,  17.37346449,   9.76610424,
       548.56132358, 518.61394912, 891.86183425, 397.96306567,
        43.03899235, 556.30657959, 937.52890287, 541.10708785,
       884.89253424, 699.52788635, 655.07089555,  85.36801256,
       499.18585551, 819.25271014, 469.65852248,  30.41114826,
       193.33613354, 993.18983576, 839.82185312, 607.88354324,
       766.75093624, 583.33417139, 716.73403052, 616.1286581 ,
       479.47353647, 578.12136086, 313.06441012, 199.99376063,
       114.91900204, 528.21936745,  17.5345876 , 273.12245663,
       132.54423191, 711.82356585, 398.36120563, 901.50569934,
       759.43932918, 453.80471432, 353.01274593,  37.29505372,
       805.45469656, 993.42943833, 472.71941558, 995.76541681,
       733.35725767, 474.40688819, 516.93175397, 511.57476286,
        52.72771704, 285.34625136, 302.73156852, 405.57007159,
       532.01579217, 429.02275248, 408.88255643, 478.98244887,
       423.37432323, 550.91940939, 813.33039773, 401.27050332,
         7.28082064, 900.18803992,  96.28660344, 975.67727061,
       596.40786336, 814.80222203, 365.41705981, 909.90543763,
       454.57051103, 682.91943763, 466.10902969, 604.9152156 ,
       149.71305387, 242.72982567, 804.68711183, 102.71299666,
       338.51586304, 998.8090564 , 858.03647561,  99.9985596 ,
       976.01276991, 879.55609657, 152.01836005, 711.42528137,
         7.57676381, 606.52208743, 540.09479624, 427.81681713,
       145.90054691,  55.15981685, 660.73117436,  18.08079392,
       797.12081707, 532.10316409, 695.98324653, 259.25818772,
       734.78863735, 801.16401938, 695.55239026, 851.24121137,
       654.55673568, 904.35092076, 696.36915731, 380.26704584,
       639.26723363, 308.89949429, 645.67585484, 125.55327971,
       744.47971704, 675.10069485, 129.95426117, 141.53821225,
       763.5902698 , 176.38900145, 485.94292484,  64.61463996,
       740.77517653, 356.85494213, 679.98985971, 878.81936278,
       178.17062484, 278.8631159 , 890.58336753, 828.8205432 ,
       474.68279975, 564.50704635, 373.90296393, 916.99942712,
        92.65378417, 890.31689415, 234.25635881,  63.39581244,
       956.03414934, 698.06332174, 354.9940656 , 433.86634633])

# Add New Column with assign() and insert()

## assign()
When to use assign?

Add multiple columns in a single line of code.
When you need to overwrite the values of an existing columns (best practice).
It returns a new object (a copy) with all the original columns in addition to the new ones.

In [22]:
score1 = np.random.randint(1,100,size=1000)
score2 = np.random.randint(1,100,size=1000)

In [24]:
series1 = pd.Series(score1,index=np.arange(0,1000))
series2 = pd.Series(score2,index=np.arange(0,1000))

In [25]:
df_exam = df_exam.assign(score1=series1, score2=series2)
df_exam.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score,score1,score2
0,female,group B,bachelor's degree,standard,none,72,72,74,65,89,68
1,female,group C,some college,standard,completed,69,90,88,134,87,19
2,female,group B,master's degree,standard,none,90,95,93,822,54,68
3,male,group A,associate's degree,free/reduced,none,47,57,44,560,3,58
4,male,group C,some college,standard,none,76,78,75,327,20,88

# insert()
Inserts a new column at a specific position or index.

In [26]:
# using insert() to add a column at a specific position
df_exam.insert(1, 'test', series1)
df_exam

,gender,test,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score,score1,score2
0,female,89,group B,bachelor's degree,standard,none,72,72,74,65,89,68
1,female,87,group C,some college,standard,completed,69,90,88,134,87,19
2,female,54,group B,master's degree,standard,none,90,95,93,822,54,68
3,male,3,group A,associate's degree,free/reduced,none,47,57,44,560,3,58
4,male,20,group C,some college,standard,none,76,78,75,327,20,88
...,...,...,...,...,...,...,...,...,...,...,...,...
995,female,47,group E,master's degree,standard,completed,88,99,95,254,47,58
996,male,2,group C,high school,free/reduced,none,62,55,55,466,2,13
997,female,67,group C,high school,free/reduced,completed,59,71,65,471,67,97
998,female,7,group D,some college,standard,completed,68,78,77,860,7,82
999,female,69,group D,some college,free/reduced,none,77,86,86,829,69,67