In [1]:
import pandas as pd
# reads csv file
df = pd.read_csv('players_20.csv')
# set index
df.set_index('short_name', inplace=True)
# select column
df = df[['long_name', 'age', 'dob', 'height_cm', 'weight_kg', 'nationality', 'club']]

# Lambda function

In [2]:
# basic function
def sum_values(a,b):
    x = a+b
    return x

In [3]:
sum_values(4,5)

9

In [4]:
# lambda function (one liner)
sum_values_lambda = lambda a,b :a+b

In [5]:
sum_values_lambda(9,3)

12

# Apply + Lambda Function

In [7]:
# use lambda function to convert "height_cm" series to meters
df['height_cm'].apply(lambda x:x/100)

#alternative
df['height_cm']/100

short_name
L. Messi             1.70
Cristiano Ronaldo    1.87
Neymar Jr            1.75
J. Oblak             1.88
E. Hazard            1.75
                     ...
Shao Shuai           1.86
Xiao Mingjie         1.77
Zhang Wei            1.86
Wang Haijian         1.85
Pan Ximing           1.82
Name: height_cm, Length: 18278, dtype: float64

In [9]:
# use lambda function to convert "long_name" series to upper case
df['long_name'].apply(lambda x:x.upper())

# alternative with str attribute
# df['long_name'].str.upper()

short_name
L. Messi                  LIONEL ANDRÉS MESSI CUCCITTINI
Cristiano Ronaldo    CRISTIANO RONALDO DOS SANTOS AVEIRO
Neymar Jr                  NEYMAR DA SILVA SANTOS JUNIOR
J. Oblak                                       JAN OBLAK
E. Hazard                                    EDEN HAZARD
                                    ...
Shao Shuai                                            邵帅
Xiao Mingjie                                MINGJIE XIAO
Zhang Wei                                             张威
Wang Haijian                                         汪海健
Pan Ximing                                           潘喜明
Name: long_name, Length: 18278, dtype: object

In [16]:
df['dob'] = df['dob'].astype('datetime64[ns]')
# use lambda function to get the year or "dob" series
df['dob'].apply(lambda x:x.year)

# alternative wirh dt attribute
# df['dob'].dt.year

short_name
L. Messi             1987
Cristiano Ronaldo    1985
Neymar Jr            1992
J. Oblak             1993
E. Hazard            1991
                     ...
Shao Shuai           1997
Xiao Mingjie         1997
Zhang Wei            2000
Wang Haijian         2000
Pan Ximing           1993
Name: dob, Length: 18278, dtype: int64

In [17]:
# apply lambda function to dataframe in order to calculate bmi
df.apply(lambda x: x['weight_kg']/((x['height_cm']/100)**2), axis=1)

short_name
L. Messi             24.913495
Cristiano Ronaldo    23.735308
Neymar Jr            22.204082
J. Oblak             24.615211
E. Hazard            24.163265
                       ...
Shao Shuai           22.835010
Xiao Mingjie         21.066743
Zhang Wei            21.678807
Wang Haijian         21.621622
Pan Ximing           23.547881
Length: 18278, dtype: float64