In [1]:
import pandas as pd
df_movies = pd.read_csv('IMDb movies.csv',low_memory=False)
df_ratings = pd.read_csv('IMDb ratings.csv')

In [2]:
# select columns
df_movies = df_movies[['imdb_title_id', 'title', 'year',
                       'genre', 'country', 'director', 'actors']]

df_ratings = df_ratings[['imdb_title_id', 'total_votes', 'mean_vote']]

# concat()
# Concatenate vertically
To concatenate vertically (along the rows) we should have columns in common between the 2 dataframes

In [3]:
df1 = pd.DataFrame({'id': ['A', 'B', 'C', 'D'],
                    'age': [30, 23, 25, 22]})
df2 = pd.DataFrame({'id': ['E', 'F', 'G', 'F'],
                    'age': [40, 21, 19, 24]})

In [4]:
pd.concat([df1,df2])

  id  age
0  A   30
1  B   23
2  C   25
3  D   22
0  E   40
1  F   21
2  G   19
3  F   24

# Exercise

In [6]:
# extract a 50% sample of the df_movies dataframe (name this df_sample)
df_sample = df_movies.sample(frac=0.5)

In [8]:
# shape of dataframes that we'll concatenate
print(df_movies.shape)
print(df_sample.shape)

(85855, 7)
(42928, 7)

In [12]:
# concatenate and df_movies and df_sample (vertically along the rows)
df_con = pd.concat([df_movies,df_sample])

In [13]:
# shape of concatenation
df_con.shape

(128783, 7)