In [1]:
import re

In [2]:
# Match only punctuation
text = """Hello World.
I love Python!!!!!
My first lucky number is 987-654-321
My second lucky number is 876-543-210
My third lucky number is 765-432-100
My fourth lucky number is 123-456-123-123-456
"""
re.findall(r'[^\w\s]',text)

['.',
 '!',
 '!',
 '!',
 '!',
 '!',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-']

In [5]:
# Match right date format (MM-DD-YYYY)
text = '''
13-04-2021
2021-13-04
2021-04-13
'''
re.findall(r'\d{2}-\d{2}-\d{4}',text)

['13-04-2021']

In [6]:
# Match right username format (4-14 characters and only letters or digits)
text = '''
username10
abc
10
'''
re.findall(r'[a-zA-Z0-9]{4,14}',text)

['username10']